
.dashboardWrapper {
  display: flex;
  padding: 1em;
}

.filter {
  width: 17vw;
}
.content {
  background-color: #dddddd;
  margin-left: 1em;
  width: 80vw;
}

.filterCard {
  background-color: palegreen;
}